* {
  margin: 0;
  padding: 0;
  background-color: black;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

#box {
  background-color: crimson;
}
