* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  object-fit: cover;
}

#main {
  height: 100%;
  width: 100%;
  background-color: black;
  display: flex;
  align-items: flex-start;
  gap: 20px;
  padding: 20px;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.card {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

button {
  margin-top: 15px;
  border: none;
  border-radius: 10px;
  background-color: lightseagreen;
  color: white;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: bold;
}

button:active {
  scale: 0.95;
}

h3 {
  margin-top: 10px;
  font-size: 25px;
}
